<div id="fh5co-main" ng-controller="MainCtrl">
  <div class="fh5co-intro text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="intro-lead">{{getMessage()}}</h1>
          <h4>{{subMessage}}</h4>
        </div>
      </div>
    </div>
  </div>
</div>